<?xml version="1.0" encoding="UTF-8" ?>
<!-- mybatis的配置文件 -->
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 开启驼峰映射 ，否则查询结果不能转成resultType-->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <!--项目DataObject对应的包名-->
        <package name="io.kenxue.devops.infrastructure.repositoryimpl.sys.database.dataobject"/>
        <package name="io.kenxue.devops.infrastructure.repositoryimpl.application.database.dataobject"/>
        <package name="io.kenxue.devops.infrastructure.repositoryimpl.jenkins.database.dataobject"/>
        <package name="io.kenxue.devops.infrastructure.repositoryimpl.pipeline.database.dataobject"/>
        <package name="io.kenxue.devops.infrastructure.repositoryimpl.project.database.dataobject"/>
    </typeAliases>
    <mappers>
<!--        sys-->
        <mapper resource="mybatis/sys/UserMapper.xml"></mapper>
        <mapper resource="mybatis/sys/UserOfRoleMapper.xml"></mapper>
        <mapper resource="mybatis/sys/RoleOfMenuMapper.xml"></mapper>
        <mapper resource="mybatis/sys/MenuMapper.xml"></mapper>
        <mapper resource="mybatis/sys/LogMapper.xml"></mapper>
        <mapper resource="mybatis/sys/CaptchaMapper.xml"></mapper>
        <mapper resource="mybatis/sys/CodeGeneratorMapper.xml"></mapper>
<!--        project-->
        <mapper resource="mybatis/project/ProjectInfoMapper.xml"></mapper>
        <mapper resource="mybatis/project/ProjectOfUserMapper.xml"></mapper>
<!--        pipeline-->
        <mapper resource="mybatis/pipeline/NodeExecuteLoggerMapper.xml"></mapper>
        <mapper resource="mybatis/pipeline/PipelineExecuteLoggerMapper.xml"></mapper>
        <mapper resource="mybatis/pipeline/PipelineMapper.xml"></mapper>
        <mapper resource="mybatis/pipeline/PipelineNodeInfoMapper.xml"></mapper>
        <mapper resource="mybatis/pipeline/PipelineNodeMapper.xml"></mapper>
<!--        application-->
        <mapper resource="mybatis/application/ApplicationConfigMapper.xml"></mapper>
        <mapper resource="mybatis/application/ApplicationInfoMapper.xml"></mapper>
        <mapper resource="mybatis/application/ApplicationOfUserMapper.xml"></mapper>
<!--        machine-->
        <mapper resource="mybatis/machine/MachineInfoMapper.xml"></mapper>
        <mapper resource="mybatis/machine/MachineGroupMapper.xml"></mapper>
        <mapper resource="mybatis/machine/MachineOfGroupMapper.xml"></mapper>
<!--        middleware-->
        <mapper resource="mybatis/middleware/JenkinsMapper.xml"></mapper>
        <mapper resource="mybatis/middleware/ZookeeperMapper.xml"></mapper>
        <mapper resource="mybatis/middleware/MinioMapper.xml"></mapper>
<!--        kubernetes-->
        <mapper resource="mybatis/kubernetes/ClusterNodeMapper.xml"></mapper>
        <mapper resource="mybatis/kubernetes/ClusterMapper.xml"></mapper>
    </mappers>
</configuration>