<?xml version="1.0" encoding="UTF-8" ?>
<!-- mybatis的配置文件 -->
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 开启驼峰映射 ，否则查询结果不能转成resultType-->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <!--项目DataObject对应的包名-->
        <package name="io.kenxue.cicd.infrastructure.repositoryimpl.sys.database.dataobject"/>
    </typeAliases>
    <mappers>
        <mapper resource="mybatis/UserMapper.xml"></mapper>
        <mapper resource="mybatis/UserOfRoleMapper.xml"></mapper>
        <mapper resource="mybatis/RoleOfMenuMapper.xml"></mapper>
        <mapper resource="mybatis/MenuMapper.xml"></mapper>
        <mapper resource="mybatis/LogMapper.xml"></mapper>
        <mapper resource="mybatis/CaptchaMapper.xml"></mapper>
        <mapper resource="mybatis/CodeGeneratorMapper.xml"></mapper>
        <mapper resource="mybatis/ProjectInfoMapper.xml"></mapper>
        <mapper resource="mybatis/ProjectOfUserMapper.xml"></mapper>
    </mappers>
</configuration>