<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.kenxue.cicd.infrastructure.repositoryimpl.application.database.mapper.ApplicationPipelineMapper">
    <resultMap type="io.kenxue.cicd.infrastructure.repositoryimpl.application.database.dataobject.ApplicationPipelineDO" id="applicationPipelineMap">
            <result property="applicationUuid" column="application_uuid"/>
            <result property="pipelineName" column="pipeline_name"/>
            <result property="pipelineContext" column="pipeline_context"/>
            <result property="description" column="description"/>
    </resultMap>
</mapper>