<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.kenxue.cicd.infrastructure.repositoryimpl.application.database.mapper.MachineInfoMapper">
    <resultMap type="io.kenxue.cicd.infrastructure.repositoryimpl.application.database.dataobject.MachineInfoDO" id="machineInfoMap">
            <result property="ip" column="ip"/>
            <result property="name" column="name"/>
            <result property="port" column="port"/>
            <result property="accessUsername" column="access_username"/>
            <result property="accessPassword" column="access_password"/>
            <result property="accessKey" column="access_key"/>
    </resultMap>
</mapper>