<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.kenxue.cicd.infrastructure.repositoryimpl.project.database.mapper.ProjectInfoMapper">
    <resultMap type="io.kenxue.cicd.infrastructure.repositoryimpl.project.database.dataobject.ProjectInfoDO" id="projectInfoMap">
            <result property="projectName" column="project_name"/>
            <result property="userUuid" column="user_uuid"/>
            <result property="projectDesc" column="project_desc"/>
    </resultMap>
<!--  我参与的  -->
    <select id="queryRelatedProject" resultType="io.kenxue.cicd.infrastructure.repositoryimpl.project.database.dataobject.ProjectInfoDO">
        select pi.*,su.user_name from project_of_user pou
            left join project_info pi on pou.project_uuid=pi.uuid
            left join sys_user su on su.uuid = pi.user_uuid
        where pou.user_uuid = #{param2} and pou.deleted = 0 and pi.deleted = 0
        <if test="param3!=null and param3!=''">
            and su.name like concat ('%', #{param3},'%')
        </if>
        <if test="param4!=null and param4!=''">
            and pi.project_name like concat ('%', #{param4},'%')
        </if>
    </select>
</mapper>