<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.kenxue.cicd.infrastructure.repositoryimpl.middleware.zookeeper.database.mapper.ZookeeperMapper">
    <resultMap type="io.kenxue.cicd.infrastructure.repositoryimpl.middleware.zookeeper.database.dataobject.ZookeeperDO" id="zookeeperMap">
            <result property="name" column="name"/>
            <result property="address" column="address"/>
            <result property="sessionTimeout" column="session_timeout"/>
            <result property="specs" column="specs"/>
            <result property="remark" column="remark"/>
    </resultMap>
</mapper>