<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.kenxue.devops.infrastructure.repositoryimpl.application.database.mapper.ApplicationOfUserMapper">
    <resultMap type="io.kenxue.devops.infrastructure.repositoryimpl.application.database.dataobject.ApplicationOfUserDO" id="applicationOfUserMap">
            <result property="applicationUuid" column="application_uuid"/>
            <result property="userUuid" column="user_uuid"/>
    </resultMap>
</mapper>