<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.kenxue.devops.infrastructure.repositoryimpl.project.database.mapper.TaskOperatorLoggerMapper">
    <resultMap type="io.kenxue.devops.infrastructure.repositoryimpl.project.database.dataobject.TaskOperatorLoggerDO" id="taskOperatorLoggerMap">
            <result property="taskUuid" column="task_uuid"/>
            <result property="userUuid" column="user_uuid"/>
            <result property="content" column="content"/>
    </resultMap>
</mapper>