<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.kenxue.devops.infrastructure.repositoryimpl.project.database.mapper.TaskWorkingHoursMapper">
    <resultMap type="io.kenxue.devops.infrastructure.repositoryimpl.project.database.dataobject.TaskWorkingHoursDO" id="taskWorkingHoursMap">
            <result property="taskUuid" column="task_uuid"/>
            <result property="startTime" column="start_time"/>
            <result property="endTime" column="end_time"/>
            <result property="workDesc" column="work_desc"/>
    </resultMap>
</mapper>