<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.kenxue.devops.infrastructure.repositoryimpl.sys.database.mapper.MenuMapper">
    <resultMap type="io.kenxue.devops.infrastructure.repositoryimpl.sys.database.dataobject.MenuDO" id="menuMap">
            <result property="menuParentUuid" column="menu_parent_uuid"/>
            <result property="menuName" column="menu_name"/>
            <result property="menuUrl" column="menu_url"/>
            <result property="menuPerms" column="menu_perms"/>
            <result property="menuType" column="menu_type"/>
            <result property="menuIcon" column="menu_icon"/>
            <result property="menuOrder" column="menu_order"/>
            <result property="menuRemark" column="menu_remark"/>
            <result property="hide" column="hide"/>
    </resultMap>
</mapper>