package io.kenxue.cicd.application.application.${moduleName}.${allLowName}.handler;

import io.kenxue.cicd.application.common.event.EventHandler;
import io.kenxue.cicd.application.common.event.EventHandlerI;
import io.kenxue.cicd.coreclient.dto.common.response.Response;
import io.kenxue.cicd.coreclient.dto.${moduleName}.${allLowName}.event.${className}UpdateEvent;
import lombok.extern.slf4j.Slf4j;
/**
 * ${comments}
 * @author ${author}
 * @date ${datetime}
 */
@Slf4j
@EventHandler
public class ${className}UpdateEventHandler implements EventHandlerI<Response, ${className}UpdateEvent> {
    
    public Response execute(${className}UpdateEvent event) {
        log.debug("Handling Event:{}",event);
        return Response.success();
    }
}
