package io.kenxue.cicd.domain.domain.${moduleName};

import io.kenxue.cicd.domain.common.CommonEntity;
import lombok.AllArgsConstructor;
import lombok.Data;
import lombok.NoArgsConstructor;
import java.util.Date;
/**
 * ${comments}
 * @author ${author}
 * @date ${datetime}
 */
@Data
@NoArgsConstructor
@AllArgsConstructor
public class ${className} extends CommonEntity {
#foreach ($column in $columns)
    /**
     * ${column.comments}
     */
    private $column.attrType $column.attrname;
#end
}
