package io.kenxue.cicd.coreclient.dto.${moduleName}.${allLowName};

import io.kenxue.cicd.coreclient.dto.common.command.CommonCommand;
import lombok.Data;
import lombok.experimental.Accessors;
import javax.validation.constraints.NotNull;

/**
 * ${comments}
 * @author ${author}
 * @date ${datetime}
 */
@Data
@Accessors(chain = true)
public class ${className}DeleteCmd extends CommonCommand {
    @NotNull
    private Long[] ids;
}
