package io.kenxue.cicd.infrastructure.repositoryimpl.${moduleName}.database.dataobject;

import com.baomidou.mybatisplus.annotation.TableName;
import io.kenxue.cicd.domain.common.CommonEntity;
import lombok.Data;
/**
 * ${comments}
 * @author ${author}
 * @date ${datetime}
 */
@Data
@TableName("${tableName}")
public class ${className}DO extends CommonEntity {
#foreach ($column in $columns)
    /**
     * $column.comments
     */
    private $column.attrType $column.attrname;
#end
}
