package io.kenxue.cicd.infrastructure.repositoryimpl.${moduleName}.database.convertor;

import io.kenxue.cicd.domain.domain.${moduleName}.${className};
import io.kenxue.cicd.infrastructure.repositoryimpl.${moduleName}.database.dataobject.${className}DO;
import org.springframework.stereotype.Component;
import io.kenxue.cicd.infrastructure.repositoryimpl.sys.database.convertor.Convector;
import java.util.List;
/**
 * ${comments}
 * @author ${author}
 * @date ${datetime}
 */
@Component
public class ${className}2DOConvector implements Convector<${className},${className}DO>{
    
    public ${className}DO toDO(${className} ${classname}) {
        return ${className}2DOMapStruct.INSTANCE.toDO(${classname});
    }

    public ${className} toDomain(${className}DO ${classname}DO) {
        return ${className}2DOMapStruct.INSTANCE.toDomain(${classname}DO);
    }

    public List<${className}DO> toDOList(List<${className}> ${classname}List) {
        return ${className}2DOMapStruct.INSTANCE.toDOList(${classname}List);
    }

    public List<${className}> toDomainList(List<${className}DO> ${classname}DOList) {
        return ${className}2DOMapStruct.INSTANCE.toDomainList(${classname}DOList);
    }
}
