package io.kenxue.cicd.coreclient.dto.${moduleName}.${allLowName};

import io.kenxue.cicd.coreclient.dto.common.command.CommonDTO;
import lombok.Data;
import lombok.experimental.Accessors;
/**
 * ${comments}
 * @author ${author}
 * @date ${datetime}
 */
@Data
@Accessors(chain = true)
public class ${className}DTO extends CommonDTO {
#foreach ($column in $columns)
    /**
     * ${column.comments}
     */
    private $column.attrType $column.attrname;
#end
}
