package io.kenxue.cicd.domain.factory.${moduleName};

import io.kenxue.cicd.domain.domain.${moduleName}.${className};
/**
 * ${comments}
 * @author ${author}
 * @date ${datetime}
 */
public class ${className}Factory {
    public static ${className} get${className}(){
        return new ${className}();
    }
}
