package io.kenxue.cicd.application.application.${moduleName}.${allLowName}.command.query;

import io.kenxue.cicd.application.application.${moduleName}.${allLowName}.assembler.${className}2DTOAssembler;
import io.kenxue.cicd.coreclient.dto.common.response.MultiResponse;
import io.kenxue.cicd.coreclient.dto.${moduleName}.${allLowName}.${className}DTO;
import io.kenxue.cicd.coreclient.dto.${moduleName}.${allLowName}.${className}ListQry;
import io.kenxue.cicd.domain.domain.${moduleName}.${className};
import io.kenxue.cicd.domain.repository.${moduleName}.${className}Repository;
import org.springframework.stereotype.Component;
import javax.annotation.Resource;
import java.util.List;
/**
 * ${comments}
 * @author ${author}
 * @date ${datetime}
 */
@Component
public class ${className}ListQryExe {
    @Resource
    private ${className}Repository ${classname}Repository;
    @Resource
    private ${className}2DTOAssembler ${classname}2DTOAssembler;

    public MultiResponse<${className}DTO> execute(${className}ListQry qry) {
        List<${className}> ${classname}DTOList = ${classname}Repository.list(qry);
        return MultiResponse.of(${classname}2DTOAssembler.toDTOList(${classname}DTOList));
    }
}
