package io.kenxue.cicd.application.${moduleName}.${allLowName}.command.query;

import io.kenxue.cicd.application.${moduleName}.${allLowName}.assembler.${className}2DTOAssembler;
import io.kenxue.cicd.coreclient.dto.${moduleName}.${allLowName}.${className}DTO;
import io.kenxue.cicd.coreclient.dto.common.response.SingleResponse;
import io.kenxue.cicd.coreclient.dto.${moduleName}.${allLowName}.${className}GetQry;
import io.kenxue.cicd.domain.repository.${moduleName}.${className}Repository;
import org.springframework.stereotype.Component;
import javax.annotation.Resource;
/**
 * ${comments}
 * @author ${author}
 * @date ${datetime}
 */
@Component
public class ${className}GetQryExe {

    @Resource
    private ${className}Repository ${classname}Repository;
    @Resource
    private ${className}2DTOAssembler ${classname}2DTOAssembler;

    public SingleResponse<${className}DTO> execute(${className}GetQry qry) {
        return SingleResponse.of(${classname}2DTOAssembler.toDTO(${classname}Repository.getById(qry.getId())));
    }

}
