<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.kenxue.devops.infrastructure.repositoryimpl.middleware.database.mapper.MinioMapper">
    <resultMap type="io.kenxue.devops.infrastructure.repositoryimpl.middleware.database.dataobject.MinioDO" id="minioMap">
            <result property="uri" column="uri"/>
            <result property="username" column="username"/>
            <result property="password" column="password"/>
            <result property="name" column="name"/>
            <result property="remark" column="remark"/>
            <result property="port" column="port"/>
    </resultMap>
</mapper>