<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.kenxue.devops.infrastructure.repositoryimpl.pipeline.database.mapper.NodeExecuteLoggerMapper">
    <resultMap type="io.kenxue.devops.infrastructure.repositoryimpl.pipeline.database.dataobject.NodeExecuteLoggerDO" id="nodeExecuteLoggerMap">
            <result property="loggerUuid" column="logger_uuid"/>
            <result property="nodeUuid" column="node_uuid"/>
            <result property="nodeData" column="node_data"/>
            <result property="executeStartTime" column="execute_start_time"/>
            <result property="executeEndTime" column="execute_end_time"/>
            <result property="finalStatus" column="final_status"/>
    </resultMap>
</mapper>