<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.kenxue.cicd.infrastructure.repositoryimpl.pipeline.database.mapper.PipelineExecuteLoggerMapper">
    <resultMap type="io.kenxue.cicd.infrastructure.repositoryimpl.pipeline.database.dataobject.PipelineExecuteLoggerDO" id="pipelineExecuteLoggerMap">
            <result property="pipelineUuid" column="pipeline_uuid"/>
            <result property="content" column="context"/>
            <result property="graphContent" column="graph_content"/>
            <result property="executeStartTime" column="execute_start_time"/>
            <result property="executeEndTime" column="execute_end_time"/>
            <result property="finalStatus" column="final_status"/>
            <result property="targetWay" column="target_way"/>
    </resultMap>
</mapper>